<div id="content">
    <div id="Home" class="page-container">
        <header id="header-home">
            <div class="container">
                <nav id="main-nav">
                    <img src="../../assets/img/logo.png" alt="My Portfolio logo" id="logo">
                    <ul>
                        <li><a href="#home" class="current">Home</a></li>
                        <li><a href="#About">About</a> </li>
                        <li><a href="#Work">Work</a></li>
                        <li><a href="#Contact">Contact</a></li>
                    </ul>
                </nav>
                <div class="header-content">
                    <h1>
                        I Am Nicholas The {{currentText}}
                        <span data-words='[" Web Developer" ," Mobile developer"
                            ," UI/UXDev" ]' class="txt-type" data-wait="3000">
                        </span>
                    </h1>
                    <p class="lead">
                        I specialize in making fullstack web and mobile applications
                    </p>
                    <a href="#work" class="btn-light">View My Work</a>
                </div>
            </div>
        </header>

        <!-- Section A: Specialize -->
        <section id="home-a" class="text-center py-2">
            <div class="container">
                <h2 class="section-title">I Specialize In</h2>
                <div class="bottom-line"></div>
                <p class="lead">
                    simple fullstack CRUD applications and also UI/UX layouts for websites and mobile applications
                </p>
                <div class="specials">
                    <div>
                        <i class="fas fa-code fa-2x"></i>
                        <h3>Web Dev</h3>
                        <p>
                            I make fullstack web applications from front to back
                        </p>
                    </div>
                    <div>
                        <i class="fas fa-desktop fa-2x"></i>
                        <h3>UI/UX</h3>
                        <p>
                            With the use of mordern technologies, like html Css, Sass, I make simple, intuitive, minimalistic UI's
                        </p>
                    </div>
                    <div>
                        <i class="fas fa-server fa-2x"></i>
                        <h3>Database</h3>
                        <p>
                            With the use of NOSQL technologies like mongoDB, firebase firestore, I make fast reliable, robust and scalabale databases
                        </p>
                    </div>
                    <div>
                        <i class="fas fa-mobile fa-2x"></i>
                        <h3>Mobile apps</h3>
                        <p>
                            With the use of Ionic framework, which provide mobile ready components, I make mobile applications with web technologies and able to cross compile across, Android, Ios and Desktop platform with one codebase
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section C: Process -->
        <section id="home-c" class="text-center py-2">
            <div class="container">
                <h2 class="section-title">
                    My Creative Process
                </h2>
                <div class="bottom-line"></div>
                <p class="lead">
                    All of my projects are based off of a practiced formula to get the result that I am looking for
                </p>
                <div class="process">
                    <div>
                        <i class="fas fa-lightbulb fa-4x process-icon my-2">
                            <div class="process-step">1</div>
                        </i>
                        <h3>Discuss The Project</h3>
                        <p>
                            This is where the vision and imagination for the project is done.
                        </p>
                    </div>
                    <div>
                        <i class="fas fa-brain fa-4x process-icon my-2">
                            <div class="process-step">2</div>
                        </i>
                        <h3>Brainstorming ^ Concept</h3>
                        <p>
                            discuss with others, weigh the pros and cons, come up with a list of funtionalities that best capture the ideal of the project
                        </p>
                    </div>
                    <div>
                        <i class="fas fa-object-ungroup fa-4x process-icon
                            my-2">
                            <div class="process-step">3</div>
                        </i>
                        <h3>UI/UX Planning</h3>
                        <p>
                            paging, routing, prototyping, design
                        </p>
                    </div>
                    <div>
                        <i class="fas fa-wrench fa-4x process-icon my-2">
                            <div class="process-step">4</div>
                        </i>
                        <h3>Interaction</h3>
                        <p>
                            and finally the backend functionality is added where necessary, to breathe life into the project
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <!-- ///////////////////////////////About page///////////////////// -->
    <!-- ///////////////////////////////About page///////////////////// -->
    <!-- ///////////////////////////////About page///////////////////// -->
    <!-- ///////////////////////////////About page///////////////////// -->
    <div id="About" class="page-container">

        <!-- Header
        <header id="header-inner">
            <div class="container">
                <nav id="main-nav">
                    <img src="img/logo.png" alt="My Portfolio" id="logo" />
                    <ul>
                        <li><a href="index.html" class="current">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="work.html">Work</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </header> -->
        <!-- Section A: Info -->
        <section id="about-a" class="text-center py-3">
            <div class="container">
                <h2 class="section-title">About Me</h2>
                <div class="bottom-line"></div>
                <p class="lead">
                    Let me tell you a little about myself and what I do...
                </p>
                <div class="about-info">
                    <img src="../../assets/img/about.jpg" alt="" class="bio-image" />
                    <div class="bio bg-light">
                        <h4>Your work Is In Safe Hands</h4>
                        <p>
                            I am driven by the desire to deliver appropriate value for the situation, I am a learner by nature and never back down from a challenge, my desire to learn and explore the field of making websites and applications has led me from not knowing what is html
                            in 2018 to being able to make fullstack web and mobile applications now, I am very proud of the work I do and how far I have come and looking forward to more challenge and growth in the field of programming and app development
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section B: Progress Bars -->
        <section id="about-b" class="bg-dark py-3">
            <div class="container">
                <h2 class="section-title">Technical Skills</h2>
                <div class="bottom-line"></div>
                <h4>HTML & CSS:</h4>
                <div class="progress">
                    <div style="width:70%"></div>
                </div>
                <h4>TYPESCRIPT/JAVASCRIPT:</h4>
                <div class="progress">
                    <div style="width:90%"></div>
                </div>
                <h4>JAVA:</h4>
                <div class="progress">
                    <div style="width:90%"></div>
                </div>
                <h4>IONIC FRAMEWORK:</h4>
                <div class="progress">
                    <div style="width:75%"></div>
                </div>
                <h4>ANGULAR:</h4>
                <div class="progress">
                    <div style="width:75%"></div>
                </div>
                <h4>FIREBASE FIRESTORE AND HOSTING:</h4>
                <div class="progress">
                    <div style="width:70%"></div>
                </div>
            </div>
        </section>
    </div>

    <!-- ///////////////////////////////Work page///////////////////// -->
    <!-- ///////////////////////////////Work page///////////////////// -->
    <!-- ///////////////////////////////Work page///////////////////// -->
    <!-- ///////////////////////////////Work page///////////////////// -->
    <div id="Work" class="page-container">
        <!-- Header
        <header id="header-inner">
            <div class="container">
                <nav id="main-nav">
                    <img src="img/logo.png" alt="My Portfolio" id="logo" />
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="work.html" class="current">Work</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </header> -->
        <!-- Section A: Gallery -->
        <section id="work-a" class="text-center py-3">
            <div class="container">
                <h2 class="section-title">My Work</h2>
                <div class="bottom-line"></div>
                <p class="lead">
                    Check out some of my projects
                </p>
                <div class="items">
                    <div class="item" *ngFor="let workItem of workItems" (click)="goToDetail(workItem.snapshotId)">
                        <div class="item-image">
                            <img [src]="workItem.imgUrl" alt="" />
                        </div>
                        <div class="item-text">
                            <div class="item-text-wrap">
                                <p class="item-text-category">{{workItem.category}}</p>
                                <h2 class="item-text-title">{{workItem.title}}</h2>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="item">
                        <div class="item-image">
                            <img src="img/item2.png" alt="" />
                        </div>
                        <div class="item-text">
                            <div class="item-text-wrap">
                                <p class="item-text-category">Mobile Hybrid App Ionic
                                </p>
                                <h2 class="item-text-title">El-Nicos booking</h2>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-image">
                            <img src="img/item3.png" alt="" />
                        </div>
                        <div class="item-text">
                            <div class="item-text-wrap">
                                <p class="item-text-category">Frontend Design</p>
                                <h2 class="item-text-title">Nico loso</h2>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <a href="https://github.com/El-Nico" target="_blank" class="btn-light">Github: https://github.com/El-Nico</a>
        </section>
    </div>

    <!-- ///////////////////////////////Contact page///////////////////// -->
    <!-- ///////////////////////////////Contact page///////////////////// -->
    <!-- ///////////////////////////////Contact page///////////////////// -->
    <!-- ///////////////////////////////Contact page///////////////////// -->
    <div id="Contact" class="page-container">
        <!-- Header
        <header id="header-inner">
            <div class="container">
                <nav id="main-nav">
                    <img src="img/logo.png" alt="My Portfolio" id="logo" />
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="work.html">Work</a></li>
                        <li><a href="contact.html" class="current">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </header> -->
        <!-- Section A: Contact Form -->
        <section id="contact-a" class="text-center py-3">
            <div class="container">
                <h2 class="section-title">Contact Me</h2>
                <div class="bottom-line"></div>
                <p class="lead">Here is how you can reach me</p>
                <form method="POST" data-netlify="true" data-netlify-recaptcha="true">
                    <div class="text-fields">
                        <input type="text" class="text-input name-input" placeholder="Name" name="name" />
                        <input type="text" class="text-input subject-input" placeholder="Subject" name="subject" />
                        <input type="email" class="text-input email-input" placeholder="Email Address" name="email" />
                        <input type="text" class="text-input phone-input" placeholder="Phone
                            Number" name="phone" />
                        <textarea class="text-input message-input" placeholder="Enter
                            Message" name="message"></textarea>
                        <div class="my-2">
                            <div data-netlify-recaptcha="true"></div>
                        </div>
                    </div>
                    <button type="submit" class="btn-dark">Submit</button>
                </form>
            </div>
        </section>
    </div>

    <!-- Footer -->
    <footer id="main-footer">
        <div class="footer-content container">
            <p>Copyright &copy; 2020. All Rights Reserved</p>
            <div class="social">
                <i class="fab fa-twitter"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
            </div>
        </div>
    </footer>
    <!-- <script src="js/typewriter.js"></script> -->

</div>