<!-- Header -->
<header id="header-inner">
    <div class="container">
        <nav id="main-nav">
            <img src="../../assets/img/logo.png" alt="My Portfolio" id="logo" />
            <ul>
                <li><a href="index.html" class="current">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="work.html">Work</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="container">
    <!-- title and desc -->
    <section>
        <!-- main title -->
        <!-- meta -->

        <!-- desc -->
    </section>
    <!-- catalog -->
    <section>

    </section>
</div>


<!-- footer -->
<footer id="main-footer">
    <div class="footer-content container">
        <p>Copyright &copy; 2020. All Rights Reserved</p>
        <div class="social">
            <i class="fab fa-twitter"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin"></i>
        </div>
    </div>
</footer>