@import '../../../theme/my-variables';
@import '../../../theme/item_grid';
@import '../../../theme/utilities';
// Import Media Queries
#Work {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@import '../../../theme/media';